static/WSK1.41-General-Cert/GetCitationSignals.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://getcitationsignals.citator.services.v1.wsapi.lexisnexis.com"
	xmlns:tns="http://getcitationsignals.citator.services.v1.wsapi.lexisnexis.com"
	xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<import
		namespace="http://security.common.services.v1.wsapi.lexisnexis.com"
		schemaLocation="Security.xsd" />

	<!-- Define request/response elements -->
	<element name="GetCitationSignals" type="tns:GetCitationSignals">
		<annotation>
			<documentation>
				This call is used to retrieve citation signals from
				the Cite Store given a list of case, legislation or EU
				directive citations or persistent ids.
			</documentation>
		</annotation>
	</element>
	<element name="GetCitationSignalsResponse"
		type="tns:GetCitationSignalsResponse">
		<annotation>
			<documentation>
				Relevant signals from the Cite Store for the
				supplied citation is returned.
			</documentation>
		</annotation>
	</element>

	<!-- Define request/response types -->
	<complexType name="GetCitationSignals">
		<sequence>
			<element name="binarySecurityToken"
				type="security:BinarySecurityToken">
				<annotation>
					<documentation>
						<example>
							f4348ad8876542bc93748c89fb98a7e
						</example>
						Security token that must be provided on all
						non-authentication requests.
					</documentation>
				</annotation>
			</element>

			<element name="citationInputList"
				type="tns:CitationInputList">
				<annotation>
					<documentation>
						Structure enclosing a list of text strings, each
						potentially containing one or more legal
						citations.
					</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<complexType name="CitationInputList">
		<sequence>
			<element name="citationInput" type="tns:CitationInput"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The object potentially containing citation input
						elements.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="CitationInput">
		<sequence>
			<element name="inputType" type="tns:CitationType">
				<annotation>
					<documentation>
						This indicates whether the input is a case,
						legislation or an EU directive citation.
					</documentation>
				</annotation>
			</element>

			<element name="caseInput" type="tns:CaseCitation"
				minOccurs="0">
				<annotation>
					<documentation>
						The object that holds information about a case
						citation.
					</documentation>
				</annotation>
			</element>

			<element name="legisInput" type="tns:LegisCitation"
				minOccurs="0">
				<annotation>
					<documentation>
						The object that holds information about a
						legislation citation.
					</documentation>
				</annotation>
			</element>

			<element name="directiveInput" type="tns:DirectiveCitation"
				minOccurs="0">
				<annotation>
					<documentation>
						The object that holds information about a EU
						Directive.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<simpleType name="CitationType">
		<restriction base="string">
			<enumeration value="CASES" />
			<enumeration value="EUDIRECTIVE" />
			<enumeration value="LEGISLATION " />
		</restriction>
	</simpleType>

	<complexType name="CaseCitation">
		<sequence>
			<element name="persistentIdentifier" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						The persistent id to use when request type is
						RequestType.PERSISTENTID.
					</documentation>
				</annotation>
			</element>
			<element name="caseMetadata" type="tns:CaseMetadata"
				minOccurs="0">
				<annotation>
					<documentation>
						Object that holds case metadata.
					</documentation>
				</annotation>
			</element>
			<element name="requestType" type="tns:RequestType">
				<annotation>
					<documentation>
						This indicates whether the input should be taken
						from the case metadata or from the persistent
						id.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CaseMetadata">
		<sequence>
			<element name="lbuIdentifier" type="string">
				<annotation>
					<documentation>
						The lbu id (country code).
					</documentation>
				</annotation>
			</element>
			<element name="caseName" type="string">
				<annotation>
					<documentation>The case name.</documentation>
				</annotation>
			</element>
			<element name="citation" type="string">
				<annotation>
					<documentation>Citation Strings.</documentation>
				</annotation>
			</element>			 
		</sequence>
	</complexType>
	<complexType name="LegisCitation">
		<sequence>
			<element name="persistentIdentifier" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						The persistent id to use when request type is
						RequestType.PERSISTENTID.
					</documentation>
				</annotation>
			</element>
			<element name="legisMetadata" type="tns:LegisMetadata"
				minOccurs="0">
				<annotation>
					<documentation>
						Object that holds legis metadata.
					</documentation>
				</annotation>
			</element>
			<element name="requestType" type="tns:RequestType">
				<annotation>
					<documentation>
						This indicates whether the input should be taken
						from the case metadata or from the persistent
						id.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="LegisMetadata">
		<sequence>
			<element name="lbuIdentifier" type="string">
				<annotation>
					<documentation>
						The lbu id (country code)
					</documentation>
				</annotation>
			</element>
			<element name="legislationName" type="string">
				<annotation>
					<documentation>
						LegislationName string.
					</documentation>
				</annotation>
			</element>
			<element name="citation" type="string">
				<annotation>
					<documentation>Citation string.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="DirectiveCitation">
		<sequence>
			<element name="persistentIdentifier" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						The persistent id to use when request type is
						RequestType.PERSISTENTID.
					</documentation>
				</annotation>
			</element>
			<element name="directiveMetadata"
				type="tns:DirectiveMetadata" minOccurs="0">
				<annotation>
					<documentation>
						object that holds EU Directive metadata
					</documentation>
				</annotation>
			</element>
			<element name="requestType" type="tns:RequestType">
				<annotation>
					<documentation>
						This indicates whether the input should be taken
						from the case metadata or from the persistent
						id.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="DirectiveMetadata">
		<sequence>
			<element name="lbuIdentifier" type="string">
				<annotation>
					<documentation>
						The lbu id (country code).
					</documentation>
				</annotation>
			</element>
			<element name="citation" type="string">
				<annotation>
					<documentation>Citation string.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<simpleType name="RequestType">
		<restriction base="string">
			<enumeration value="METADATA" />
			<enumeration value="PERSISTENTID" />
		</restriction>
	</simpleType>

	<!-- Response type declarations -->

	<complexType name="GetCitationSignalsResponse">
		<sequence>
			<element name="signalOutputList"
				type="tns:SignalOutputList">
				<annotation>
					<documentation>
						List of citation outputs.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SignalOutputList">
		<sequence>
			<element name="signalOutput" type="tns:SignalOutput"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						The object potentially containing citation
						output elements.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SignalOutput">
		<sequence>

			<element name="signalResultList"
				type="tns:SignalResultList">
				<annotation>
					<documentation>
						List of Signals Results.
					</documentation>
				</annotation>
			</element>

			<element name="returnCode" type="tns:ReturnCode">
				<annotation>
					<documentation>
						Return code for the particular citation.
					</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<complexType name="SignalResultList">
		<sequence>
			<element name="signalResult" type="tns:SignalResult" maxOccurs="unbounded">
				<annotation>
					<documentation>
						collection of signal result objects.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SignalResult">
		<sequence>
			<element name="persistentIdentifier" type="string">
				<annotation>
					<documentation>
						The persistentId.
					</documentation>
				</annotation>
			</element>
			<element name="signalValue" type="string">
				<annotation>
					<documentation>
						The signal value as String.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<simpleType name="ReturnCode">
		<restriction base="string">
			<enumeration value="MULTI_MATCH" />
			<enumeration value="NOT_FOUND" />
			<enumeration value="NOT_RECOGNIZED" />
			<enumeration value="SUCCESSFUL" />
			<enumeration value="THRESHOLD_EXCEEDED" />
		</restriction>
	</simpleType>
</schema>
<!--
	LexisNexis CONFIDENTIAL
	
	This document is the property of LexisNexis, and its contents are
	proprietary to LexisNexis. Reproduction in any form is prohibited.
	Finders are asked to return this document to:
	LexisNexis, P.O. Box 933, Dayton, Ohio  45401
	
	Copyright (c) 2008 by LexisNexis
	All Rights Reserved
-->