static/WSK1.41-General-Cert/GetSignalsAndHN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://getsignalsandhn.citatortools.services.v1.wsapi.lexisnexis.com"
	xmlns:tns="http://getsignalsandhn.citatortools.services.v1.wsapi.lexisnexis.com"
	xmlns:common="http://common.services.v1.wsapi.lexisnexis.com"
	xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<import namespace="http://common.services.v1.wsapi.lexisnexis.com"
		schemaLocation="Common.xsd" />

	<import
		namespace="http://security.common.services.v1.wsapi.lexisnexis.com"
		schemaLocation="Security.xsd" />

	<element name="GetSignalsAndHN" type="tns:GetSignalsAndHN" />
	<complexType name="GetSignalsAndHN">
		<sequence>
			<element name="binarySecurityToken"
				type="security:BinarySecurityToken" />
			<element name="AdditionalInfoIndicator"
				type="tns:AdditionalInfoIndicator" >
			<annotation>
				<documentation>
					Type of additional information requested by the
					client
				</documentation>
			</annotation>
			</element>
			<element name="citationInfoList"
				type="tns:citationInfoList" >
			<annotation>
				<documentation>
					It should be poplulated with either lexisRptrNo,
					year and page; or lni; or countryCode and parallel
					cites.
				</documentation>
			</annotation>
</element>
		</sequence>
	</complexType>



	<complexType name="AdditionalInfoIndicator">
		<sequence>
			<element name="AllCitesAdditionalInfoIndicator"
				type="tns:AllCitesAdditionalInfoIndicator" />
		</sequence>
	</complexType>
	<simpleType name="AllCitesAdditionalInfoIndicator">
		<restriction base="string">
			<enumeration value="NO_ADDITIONAL_INFO" />
			<enumeration value="JURIS_AND_DATE" />
			<enumeration value="STATUTE_SIGNALS_AND_INDICATORS" />
			<enumeration value="ALL_ADDITIONAL_INFO" />
		</restriction>
	</simpleType>
	<complexType name="citationInfoList">
		<sequence>
			<element name="AllCitesCitationInfo_t"  maxOccurs="unbounded"
				type="tns:AllCitesCitationInfo_t" />
		</sequence>
	</complexType>
	<complexType name="AllCitesCitationInfo_t">
		<sequence>
			<element name="lexisRptrNo" type="long" minOccurs="0"  />
			<element name="lexisRptrYear" type="long" minOccurs="0" />
			<element name="lexisRptrPage" type="long" minOccurs="0" />
			<element name="lni" type="string" minOccurs="0" />
			<element name="countryCode" type="string" minOccurs="0" />
			<element name="parallelCites" type="string" minOccurs="0" />
		</sequence>
	</complexType>




	<element name="GetSignalsAndHNResponse"
		type="tns:GetSignalsAndHNResponse" />
	<complexType name="GetSignalsAndHNResponse">
		<sequence>

			<element name="linkAndSignalList"
				type="tns:AllCitesLinkAndSignalList" />
			<element name="citedLNHNList"
				type="tns:AllCitesCitedLNHNList" />
			<element name="additionalInfoList"
				type="tns:AllCitesAdditionalInfoList" />
			<element name="AllCitesStatuteSignalAndIndicatorInfoList"
				type="tns:AllCitesStatuteSignalAndIndicatorInfoList" />
		</sequence>
	</complexType>


	<complexType name="AllCitesAdditionalInfoList">
		<sequence>
			<element name="additionalInfoList" maxOccurs="unbounded"
				type="tns:AllCitesAdditionalInfo_t" />
		</sequence>
	</complexType>
	<complexType name="AllCitesAdditionalInfo_t">
		<sequence>
			<element name="jurisDisplay" type="string" />
			<element name="displayDate" type="string" />
		</sequence>
	</complexType>


	<complexType name="AllCitesLinkAndSignalList">
		<sequence>
			<element name="linkAndSignalList" maxOccurs="unbounded"
				type="tns:AllCitesLinkAndSignalInfo_t" />
		</sequence>
	</complexType>


	<complexType name="AllCitesLinkAndSignalInfo_t">
		<sequence>
			<element name="signalText" type="string" />
			<element name="retCode"
				type="tns:AllCitesGetLinkAndSignalRetCode" />
			<element name="signalColor" type="tns:AllCitesSignalColor" />
			<element name="shepLinkInd" type="tns:LinkIndicator" />
			<element name="toaLinkInd" type="tns:LinkIndicator" />
			<element name="sourceTypeInd"
				type="tns:SourceTypeIndicator" />
			<element name="transferTypeInd"
				type="tns:TransferTypeIndicator" />

		</sequence>
	</complexType>


	<simpleType name="AllCitesGetLinkAndSignalRetCode">


		<restriction base="string">
			<annotation>
				<documentation>
					AllCite Get Links and Signal Return Codes
				</documentation>
			</annotation>

			<enumeration value="LINK_AND_SIGNAL_SUCCESS" >

			<annotation>
				<documentation>"Successfull" Codes</documentation>
			</annotation>
</enumeration>

			<enumeration value="LINK_AND_SIGNAL_UNAMBIG_TABLE_CASE" />

			<enumeration value="LINK_AND_SIGNAL_AMBIG_TABLE_CASE" >


			<annotation>
				<documentation>"Error" Codes</documentation>
			</annotation>
			</enumeration>
			<enumeration value="LINK_AND_SIGNAL_DOC_NOT_FOUND" />
			<enumeration value="LINK_AND_SIGNAL_SOURCE_NOT_RECOGNIZED" />
			<enumeration value="LINK_AND_SIGNAL_UNKNOWN_ERROR" />
		</restriction>
	</simpleType>


	<simpleType name="AllCitesSignalColor">
		<restriction base="string">
			<annotation>
				<documentation>0; No Signal</documentation>
			</annotation>
			<enumeration value="SIGNAL_NULL" >

			<annotation>
				<documentation>1; proceed: good law</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_GREEN" >

			<annotation>
				<documentation>
					2; caution: possible neg treatment
				</documentation>
			</annotation> </enumeration>
			<enumeration value="SIGNAL_YELLOW">

			<annotation>
				<documentation>
					3; warning: caution: neg treatment
				</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_RED">

			<annotation>
				<documentation>
					4; questioned: validity questioned by citing refs
				</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_ORANGE">

			<annotation>
				<documentation>5; DO NOT USE THIS VALUE</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_NOT_USED">

			<annotation>
				<documentation>6; refs w/out analysis</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_LIGHT_BLUE" >

			<annotation>
				<documentation>7; refs w/ analysis</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_BLUE" >

			<annotation>
				<documentation>8; DO NOT USE THIS VALUE</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_NOT_USED2">

			<annotation>
				<documentation>9; DO NOT USE THIS VALUE</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_NOT_USED3">

			<annotation>
				<documentation>10; No Signal</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_NULL">

			<annotation>
				<documentation>11;proceed: good law</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_GREEN">

			<annotation>
				<documentation>
					12; caution: possible neg treatment
				</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_YELLOW">

			<annotation>
				<documentation>
					13; warning: caution: neg caselaw treatment for
					statute
				</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_RED" >

			<annotation>
				<documentation>
					14; questioned: validity questioned by citing refs
				</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_ORANGE">

			<annotation>
				<documentation>15; DO NOT USE THIS VALUE</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_NOT_USED4" >

			<annotation>
				<documentation>16;refs w/out analysis</documentation>
			</annotation></enumeration>
			
			<enumeration value="SIGNAL_STATUTE_LIGHT_BLUE" >

			<annotation>
				<documentation>17; refs w/ analysis</documentation>
			</annotation></enumeration>
			<enumeration value="SIGNAL_STATUTE_BLUE"/>

		</restriction>
	</simpleType>

	<simpleType name="LinkIndicator">
		<restriction base="string">
			<enumeration value="NO_LINK" />
			<enumeration value="YES_LINK" />
		</restriction>
	</simpleType>

	<simpleType name="SourceTypeIndicator">
		<annotation>
			<documentation>
				Source type of a full text document
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="SOURCE_TYPE_UNKNOWN" />
			<enumeration value="SOURCE_TYPE_CASELAW" />
			<enumeration value="SOURCE_TYPE_STATUTE" />
		</restriction>
	</simpleType>

	<simpleType name="TransferTypeIndicator">
		<annotation>
			<documentation>
				Transfer type of a full text document
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="TRANSFER_TYPE_NULL" />
			<enumeration value="TRANSFER_TYPE_LEXSEE" />
			<enumeration value="TRANSFER_TYPE_LEXSTAT" />

		</restriction>
	</simpleType>


	<complexType name="AllCitesCitedLNHNList">
		<sequence>
			<element name="citedLNHNList" maxOccurs="unbounded"
				type="tns:AllCitesCitedLNHeadnote" />
		</sequence>
	</complexType>
	<complexType name="AllCitesCitedLNHeadnote">
		<sequence>
			<element name="lnhRetCode"
				type="tns:AllCitesGetCitedLNHNRetCode" />
			<element name="citedLNHeadnote" type="string" />
		</sequence>
	</complexType>


	<simpleType name="AllCitesGetCitedLNHNRetCode">
		<annotation>
			<documentation>
				AllCite Get Cited LNHN Return Codes
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="LNHN_SUCCESS" />
			<enumeration value="LNHN_INVALID_ASET" />
			<enumeration value="LNHN_BAD_PARM" />
			<enumeration value="LNHN_FAILED_TO_LOCATE" />
			<enumeration value="LNHN_UNKNOWN_ERROR" />
		</restriction>
	</simpleType>

	<complexType name="AllCitesStatuteSignalAndIndicatorInfoList">
		<sequence>
			<element name="statuteSignalAndIndicatorInfoList"
				maxOccurs="unbounded"
				type="tns:AllCitesStatuteSignalAndIndicatorInfo_t" />
		</sequence>
	</complexType>
	<complexType name="AllCitesStatuteSignalAndIndicatorInfo_t">
		<sequence>
			<element name="allCitesALSInfoList" maxOccurs="unbounded"
				type="tns:AllCitesALSInfo_t" />
			<element name="allCitesPLIIndicator" type="boolean" />
		</sequence>
	</complexType>

	<complexType name="AllCitesALSInfo_t">
		<sequence>
			<element name="citeString" type="string" />
			<element name="countryCode" type="string" />
			<element name="transferType" type="string" />
			<element name="additionalText" type="string" />

		</sequence>
	</complexType>



</schema>

<!--
	LexisNexis CONFIDENTIAL
	
	This document is the property of LexisNexis, and its contents are
	proprietary to LexisNexis. Reproduction in any form is prohibited.
	Finders are asked to return this document to:
	LexisNexis, P.O. Box 933, Dayton, Ohio  45401
	
	Copyright (c) 2004 by LexisNexis
	All Rights Reserved
-->
